

/*辽海传说CSS样式*/


#scontent{
	width: 960px;
	height: 1230px;
	margin: 0 auto;
	background: url(../images/story-bg-01.png) repeat-x center top #fff;
	overflow: hidden;
}
#scontent #left-list{
	width: 212px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
#scontent #left-list #list-img{
	width: 212px;
	height: 120px;
	
	display: inline;
}
#scontent #left-list .list-title{
	text-align: center;
	
}
#scontent #left-list .list-title .title-li{
	width: 212px;
	line-height: 30px;
	font-size: 16px;
	margin: auto;
	border-bottom: 1px solid #fff;
	
}
#scontent #left-list .list-title .title-li .title-a{
	width: 212px;
	height: 30px;
	display: block;
	background: #353535;
	color: #fff;
}
#scontent #left-list .list-title .title-li ul{
	background: url(../images/story-bg-01.png) repeat-x center top ;
	display:none;
	border-left: 1px dotted #000;
	border-right: 1px dotted #000;
}
#scontent #left-list .list-title .title-li ul .ul-li{
	
}
#scontent #left-list .list-title .title-li ul .ul-li-a{

}
#scontent #right-list{
	color: #000;
	margin-left: 232px;
    padding: 20px 50px;

}
#scontent #right-list h2{
	text-align: center;
	font-size: 24px;
}
#scontent #right-list p{
	font-size: 14px;
	line-height: 36px;
	margin-top: 24px;
}
#scontent #right-list p span{
	display: block;
	text-indent: 2em;

}
// #scontent #right-list p{
// 	font-size: 20px;
// 	margin-bottom: 16px;
// 	text-align:center;
// 	width: 600px;
// 	
// 	display: inline;
// }
// #scontent #right-list span{
// 	
// 	display: inline;
// 	font-size: 14px;
// 	text-indent: 2em;
// 	width: 600px;
// 	line-height: 28px;
// }