

/*辽海传说CSS样式*/


#scontent{
	width: 960px;
	height: 1230px;
	margin: 0 auto;
	background: url(../images/story-bg-01.png) repeat-x center top #fff;
}
#scontent #left-list{
	float: left;
	display: inline;
	width: 212px;
	margin-top: 20px;
	margin-left: 20px;
}
#scontent #left-list #list-img{
	width: 212px;
	height: 120px;
	float: left;
	display: inline;
}
#scontent #left-list .list-title{
	width: 212px;
	height: auto;
	float: left;
	display: inline;
	color: #000;
	text-align: center;
	
}
#scontent #left-list .list-title .title-li{
	width: 212px;
	line-height: 30px;
	font-size: 16px;
	margin: auto;
	border-bottom: 1px solid #fff;
	
}
#scontent #left-list .list-title .title-li .title-a{
	width: 212px;
	height: 30px;
	display: block;
	background: #353535;
	color: #fff;
}
#scontent #left-list .list-title .title-li ul{
	background: url(../images/story-bg-01.png) repeat-x center top ;
	display:none;
	border-left: 1px dotted #000;
	border-right: 1px dotted #000;
}
#scontent #left-list .list-title .title-li ul .ul-li{
	
}
#scontent #left-list .list-title .title-li ul .ul-li-a{

}
#scontent #right-list{
	width: 700px;
	height: auto;
	float: right;
	display: inline;
	color: #000;
}
#scontent #right-list li{
	margin-top: 45px;
	margin-left: 30px;
	display: none;
	position: absolute;
	width: 620px;
}
#scontent #right-list p{
	font-size: 20px;
	margin-bottom: 16px;
	text-align:center;
	width: 600px;
	float: left;
	display: inline;
}
#scontent #right-list span{
	float: left;
	display: inline;
	font-size: 14px;
	text-indent: 2em;
	width: 600px;
	line-height: 28px;
}